@font-face {
    font-family: 'latoblack';
    src: url('font_file/lato-black-webfont.woff2') format('woff2'),
         url('font_file/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('font_file/lato-bold-webfont.woff2') format('woff2'),
         url('font_file/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('font_file/lato-light-webfont.woff2') format('woff2'),
         url('font_file/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('font_file/lato-regular-webfont.woff2') format('woff2'),
         url('font_file/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('font_file/opensans-light-webfont.woff2') format('woff2'),
         url('font_file/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('font_file/opensans-regular-webfont.woff2') format('woff2'),
         url('font_file/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
